@media (min-width: 600px) {

   h2 {
      font-size: 36px;
      font-weight: 400;
   }

   input {
      height: 5vh;
   }

   [type="submit"] {
      width: 70%;
      padding: 7%;
      transition: .4s;

      &:hover {
         background-color: whitesmoke;
         color: $contactBg;
         cursor: pointer;
      }
   }

   /* ABOUT */
   .about {
      padding-top: 5vh;
      padding-bottom: 5vh;

      > article {
         row-gap: 2vh;
      }

      > section {
         flex-direction: row;
         column-gap: 5vh;

         > aside, > ul {
            width: 50%;
         }

         > aside {
            row-gap: 1vh;
         }
      }

      ul {
         row-gap: 2vh;
      }

      li {
         row-gap: 1vh;
      }

      h3 {
         font-size: 28px;
         font-weight: 400;
      }

      h4 {
         font-size: 18px;
         text-transform: uppercase;
      }

      blockquote, h6 {
         height: 0.5vh;
      }
   }

   /* PORTFOLIO */
   .portfolio {
      row-gap: 4vh;
      padding-top: 10%;
      padding-bottom: 10%;
      p {
         width: 80%;
      }

      figure {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 1vh;
      }

      img {
         height: 20vh;
         width: 30vh;
      }
   }

   /* CONTACT */
   .contact {

      > article {
         align-items: center;
      }

      > section {
         width: 85%;
         justify-content: space-between;
         flex-direction: row;
         > article {
            width: 45%;
            column-gap: 2vh;
         }

      }

      p {
         width: 80%;
      }

      h3 {
         text-transform: uppercase;
         font-size: 24px;
         font-weight: 400;
      }

      form {
         width: 45%;
         > article {
            row-gap: 1vh;
         }
      }
   }
}